@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgba(180, 214, 255, 0.529);
    /* светлый голубой */
    color: #000000;
}

a {
    transition: 0.3s color;
}

img,
input::placeholder,
.btn,
.price-container__top .price_table-row_item,
.btn_location__city,
.el_dropdown--item {
    user-select: none;
}

.el_dropdown--hidden {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.2s all;
}

.el_dropdown.is-open .el_dropdown--hidden {
    visibility: visible;
    opacity: 1;
    transform: none;
}

.btn,
.btn_location,
.el_dropdown--item {
    transition: 0.3s all !important;
}

.el_dropdown--item:hover {
    opacity: 0.7;
}

.btn_location:hover {
    border-color: #efd400 !important;
}

.connection-block__tel:hover,
.footer__tel:hover,
.header__tel:hover {
    color: var(--color-text-accent);
}

.btn_primary:hover {
    background-color: #efd400;
    border-color: #efd400 !important;
}

.btn_second:hover {
    background-color: var(--color-text-accent);
    color: #ffffff;
    border-color: var(--color-text-accent) !important;
}

.btn:active {
    opacity: 0.7;
}

.section:not(.section_hero),
.header__top-time,
.header__top-location {
    cursor: default;
}

.section .section_title h2 {
    cursor: text;
}

:root {
    --padding-container: 20px;
    --color-text-primary: #1e1e1e;
    --color-text-accent: #118de8;
    --color-accent: #fce000;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

.input-label {
    position: relative;
}

.label_hidden {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

button,
input {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border: none;
    color: inherit;
}

.grid_sticky {
    display: grid;
    grid-template-columns: auto 360px;
    gap: 32px;
}
.grid_sticky .section_title {
    margin-bottom: 32px;
}
.input-err-msg {
    text-align: start;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #eb4444;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.input-label.input-err .input-err-msg {
    display: block;
}

.input-label.input-err input {
    border-color: #eb4444;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding: 4px 16px;
    border: 2px solid #d1dfe9;
    font-size: 16px;
    line-height: 28px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #acb9c2;
    outline: none;
}

h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.link-tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}
.section_text {
    font-size: 16px;
    line-height: 26px;
    color: #656262;
}
.section_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
}
.section_title.section_title--swiper {
    flex-direction: row;
    gap: 12px;
    text-align: start;
}
.section_title.section_title--swiper h2 {
         text-align: start;
}
.section_info {
    font-size: 18px;
    line-height: 26px;
}

.link-social-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 72px;
}

.no-scrolled {
    overflow: hidden;
}

ul {
    padding-left: 20px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label-text {
    font-size: 16px;
    line-height: 22px;
    color: #969fa6;
}

.input-dropdown {
    background-color: #ffffff;
    padding: 16px 0;
    border-radius: 12px;
    border: 2px solid #acb9c2;
    list-style: none;
}

.input-dropdown__item {
    padding: 6px 20px;
}

.input-dropdown__item:hover {
    background-color: #e6e6e6;
}

.container {
    max-width: calc(1271px + (var(--padding-container) * 2));
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--padding-container);
}

.el_dropdown--label {
    position: relative;
}

.el_dropdown--label .el_dropdown::after {
    content: "";
    position: absolute;
    height: 20px;
    top: 14px;
    right: 16px;
    width: 20px;
    background: url("../img/icons/chevron-down.svg") 50% / contain no-repeat;
}

.el_dropdown {
    position: relative;
    cursor: pointer;
}

.el_dropdown--hidden {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    min-width: 100%;
    z-index: 2;
    display: none;
}

.el_dropdown--title {
    pointer-events: none;
}

.el_dropdown.is-open .el_dropdown--hidden {
    display: block;
}

.is-hidden {
    display: none !important;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 82px;
}

.btn {
    cursor: pointer;
    height: 48px;
    padding: 8px 24px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #21211b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.btn--size-s {
    height: 40px;
    padding: 4px 16px;
    font-size: 16px;
    line-height: 32px;
}

.btn--size-m {
    height: 44px;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 32px;
}

.btn_second {
    color: #118de8;
    border: 1px solid #eef8ff;
    background-color: #eef8ff;
    font-weight: 700;
    padding: 8px 32px;
    transition: border 0.2s ease-in;
}

.btn-blue {
    color: #ffffff;
    background: #249aee;
    padding: 8px 24px;
    font-size: 18px;
    line-height: 32px;
    transition: background-color 0.3s ease;
}

.btn-blue:hover {
    background: #1d8bda;
}

.btn--size-l {
    width: 100%;
    height: 52px;
}

.btn--icon-arrow {
    gap: 10px;
}

.btn--icon-arrow::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/icons/chevron-down_bluse.svg") 50% / contain no-repeat;
    transition: all .3s ease;
}

.btn--icon-arrow:hover::after {
    background: url("../img/icons/chevron-down_white.svg") 50% / contain no-repeat;
}

.btn_second:hover {
    border-color: #118de8;
}

.btn_primary {
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    transition: border 0.2s ease;
}

.btn_primary:hover {
    border-color: var(--color-text-primary);
}

.btn-call-big {
    height: 76px;
    padding: 14px 32px;
    flex-direction: column;
    font-size: 20px;
    line-height: 24px;
}

.btn_group {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn_link {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.2s ease;
    gap: 8px;
}

.btn_link span {
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
}

.btn_link:hover {
    transform: scale(1.05);
}

.btn_whatsapp {
    background: #27d045;
}

.btn_whatsapp::before {
    width: 22px;
    height: 22px;
    content: "";
    display: block;
    background: url("../img/icons/wsapp.svg") 50% / contain no-repeat;
}

.btn_tg {
    background: #009eeb;
}

.btn_tg::before {
    width: 23px;
    height: 19px;
    content: "";
    display: block;
    background: url("../img/icons/Telegram.svg") 50% / contain no-repeat;
    transform: translateX(-10%);
}

.btn_link.btn_link--size-l {
    width: 52px;
    height: 52px;
}

.btn_tg.btn_link--size-l::before {
    width: 32px;
    height: 26px;
}

.btn_whatsapp.btn_link--size-l::before {
    width: 28px;
    height: 28px;
}

.btn_link.btn_link--size-m {
    width: 48px;
    height: 48px;
}

.btn_tg.btn_link--size-m::before {
    width: 28px;
    height: 23px;
}

.btn_whatsapp.btn_link--size-m::before {
    width: 25px;
    height: 25px;
}

.btn_tg.btn_tg--white {
    background-color: #ffffff;
}

.btn_tg.btn_tg--white::before {
    background: url("../img/icons/Telegram_blue.svg") 50% / contain no-repeat;
}

.btn-thrid {
    padding: 8px 32px;
    border: 1px solid #FCE000;
    background: #FFFFFF;

}

.btn-thrid:hover {
    background: #FCE000;
}

.btn_icon_phone {
    padding: 8px 32px;
    gap: 10px;
}

.btn_icon_phone::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: url('../img/icons/telephone.svg') 50% / contain no-repeat;
}

.header_btn__call {
    display: none;
    cursor: pointer;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background: url("../img/icons/phone-call.svg") 50% / contain no-repeat;
}

.header_btn__menu {
    display: none;
    cursor: pointer;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url("../img/icons/menu.svg") 50% / contain no-repeat;
}

.header_btn__menu.close-icon {
    background: url("../img/icons/close.svg") 50% / contain no-repeat;
}

/* menu mobile */
.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9;
    padding: 104px 20px 26px;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    pointer-events: none;
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
}

.mobile-menu.is-open {
    transform: translateX(0);
    pointer-events: all;
}

/* connect block */
.connection-block {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    width: 100%;
}

.connection-block .btn {
    width: 100%;
}

.connection-block__tel {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
}

.connection-block__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.connection-block__bottom-title {
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    display: flex;
    align-items: center;
    gap: 16px;
    text-wrap: nowrap;
}

.connection-block__bottom-title::after,
.connection-block__bottom-title::before {
    content: "";
    height: 1px;
    flex-grow: 1;
    background: #ebebeb;
}

.connection-block__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.btn_link__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn_link__wrapper span {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.connection-block__wrapper {
    padding: 40px;
    background: #ffffff;
    border-radius: 16px;
    max-width: 409px;
    height: fit-content;
    border: 2px solid #d1dfe9;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.block_sticky {
    position: sticky;
    top: 145px;
}

.connection-block__wrapper-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}

.connection-block__bottom--row {
    display: flex;
    align-items: center;
    gap: 12px;
}
.connection-block__wrapper-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.connection-block__wrapper-text {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #515146;
}
.connection-block__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
.connection-block__form .btn {
    width: 100%;
}
/* modal */
.modal {
    position: fixed;
    padding: 20px;
    display: flex;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 12;
    background: #252833c0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.modal.is-open {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    margin: auto;
    width: 100%;
    transform: translateY(-30px);
    transition: transform 0.3s ease;
    max-width: 600px;
}

.modal_form__content {
    max-width: 400px;
}

.modal-form__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.modal-form {
    padding: 40px;
    border-radius: 16px;
    background-color: #ffffff;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.modal-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.close_modal {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("../img/icons/close.svg") 50% / contain no-repeat;
}

.modal.is-open .modal__content {
    transform: translateY(0);
}

/* header */
.header {
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px #0000001f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0 9px;
    border-bottom: 1px solid #efefef;

    font-size: 14px;
    line-height: 20px;
    color: #686b70;
}

.header__top-location span {
    font-weight: 600;
}

.header__top-time {
    display: flex;
    align-items: start;
    gap: 6px;
}

.header__top-time::before {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    content: "";
    display: block;
    background: url("../img/icons/clock.svg") 50% / contain no-repeat;
}

.header__content {
    padding: 22px 0 21px;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.logo-wrapper {
    width: 296px;
    height: 47px;
    display: block;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__content-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__content-left__split {
    width: 1px;
    height: 100%;
    padding: 12.5px 0;
    background-color: #cecece;
}

.header__content-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #21211b;
}

.btn_location {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 28px;
    color: #686b70;
    transition: background-color 0.3s ease-in;
    border: 2px solid var(--color-accent);
}

.btn_location__city {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #21211b;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn_location__city-title {
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn_location__city::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background: url("../img/icons/chevron-down.svg") 50% / contain no-repeat;
}

.btn_location__city-list {
    padding: 10px 16px;
    background-color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-primary);
    border: 2px solid var(--color-accent);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* hero */
.section_hero {
    padding-top: 131px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section_hero__top {
    padding: 80px 0 74px;
    position: relative;
    z-index: 1;
}

.section_hero__bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    background: #118de8;
}

.section_hero__bg-img picture,
.section_hero__bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_hero__bg-img::after {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(-90deg,
            rgba(217, 217, 217, 0) 45%,
            rgba(39, 51, 113, 0.55) 100%);
}

.hero__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 34px;
}

.hero__content_left {
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 603px;
    width: 100%;
}

.hero__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #ffffff;
}

.hero__info_top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__list {
    font-size: 18px;
    line-height: 32px;
}

.block__form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 100%;
    padding: 40px;
    border-radius: 16px;
    background: #ffffff;
    outline: 8px solid #ffffff29;
    height: fit-content;
    text-align: center;
}

.block__form.hero-form {
    max-width: 409px;
}

.btn_hero_form {
    max-width: none;
    width: 100%;
}

.block__form-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.5px;
}

.block__form-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.politic_access {
    color: #686b70;
    font-size: 14px;
    line-height: 20px;
}

.politic_access a:hover {
    color: var(--color-text-primary);
}

/* about items */
.about__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.about__item-img {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background: #eef8ff;
}

.about__item {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 32px;
    border: 1px solid #d1dfe9;
    border-radius: 16px;
    font-size: 16px;
    line-height: 26px;
    color: #21211b;
}

.about__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__item-img img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* services */
.services_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services_item_list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0;
    list-style: none;
    padding: 0 32px;
    border-right: 1px solid #d1dfe9;
}

.services_item_list:last-child {
    padding-right: 0;
    border-right: none;
}

.services_item_list:first-child {
    padding-left: 0;
}

.services_item_link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #118de8;
    transition: color 0.3s ease;
}

.services_item_link:hover {
    color: #02548f;
}

.services_items--row {
    grid-template-columns: 1fr;
    gap: 12px;
}

.services_items--row .services_item_list {
    gap: 12px;
    padding: 0;
    border: 0;
    text-align: center;
}

.services_items--popup {
    padding: 26px;
    border-radius: 12px;
    background-color: #eef8ff;
    border: 1px solid #009eeb;
    gap: 12px;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    grid-template-columns: 1fr;
    text-wrap: nowrap;

    scrollbar-width: thin;
    scrollbar-color: #009eeb #00000000;
}

.services_items--popup::-webkit-scrollbar {
    width: 8px;
}

.services_items--popup::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 4px;
}

.services_items--popup::-webkit-scrollbar-thumb {
    background: #009eeb;
    border-radius: 4px;
}

.services_items--popup::-webkit-scrollbar-thumb:hover {
    background: #009eeb;
}

.services_items--popup .services_item_list {
    padding: 0;
    border: 0;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* selection */
.section_selection {
    overflow: hidden;
}

.selection-step {
    display: none;
}

.selection-step.is-visible {
    display: block;
}

.selection_wrapper {
    padding: 32px;
    border-radius: 16px;
    background: #ffffff;
    border: 1px solid #118de8;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.brand-container {
    overflow-x: hidden;
}

.selection__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.selection__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
}

.selection__steps {
    font-size: 16px;
    line-height: 26px;
    color: #676767;
}

.brand-swiper {
    width: 100%;
    overflow: hidden;
}

.brand-row {
    max-width: 114px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.brand-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #009deb00;
    transition: all 0.3s ease;
}

.brand-item:hover {
    border: 1px solid #009debda;
    background-color: #eef8ff;
}

.brand-item__title {
    font-size: 16px;
    line-height: 24px;
    color: #118de8;
}

.brand-item.is-checked {
    border: 1px solid #009debda;
    background-color: #eef8ff;
}

.brand-item__logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #118ee8;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -20px;
    z-index: 2;
    background-color: #ffffff;
    top: 50%;
    cursor: pointer;
}

.custom-swiper-button-prev.button-swiper-grey,
.custom-swiper-button-next.button-swiper-grey {
    border: 1px solid #d1dfe9;
}

.custom-swiper-button-next {
    left: auto;
    right: -20px;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
    background-color: #eef8ff;
}

.custom-swiper-button-prev::before,
.custom-swiper-button-next::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url("../img/icons/chevron-right.svg") 50% / contain no-repeat;
}

.custom-swiper-button-prev::before {
    transform: scale(-1, 1);
}

.selection__top {
    padding-right: 60px;
    position: relative;
}

.selection__err-msg {
    position: absolute;
    left: 0;
    top: 100%;
    color: #eb4444;
    display: none;
}

.selection__err-msg.is-visible {
    display: block;
}

.selection__form>* {
    position: relative;
    z-index: 1;
}

.selection__form::after {
    position: absolute;
    z-index: 0;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../img/image\(Traced\).png") 100% 100% / contain no-repeat;
}

.selection__form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 32px;
    max-width: 690px;
    width: 100%;
}

.selection__form-inputs label:last-child {
    grid-column: 1 / 3;
}

/* product swiper */
.section_swiper-product {
    overflow: hidden;
}

.product-swiper__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-swiper {
    overflow: hidden;
    border: 1px solid #d1dfe9;
    border-radius: 16px;
}

.product-swiper .swiper-slide {
    width: auto;
    display: flex;
    justify-content: center;
    border-right: 1px solid #d1dfe9;
}

.product-swiper .swiper-slide:last-child {
    border-right: 0;
}

.custom-swiper-pagination {
    display: none;
    /* По умолчанию скрыта */
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
    flex-grow: 0;
    width: auto;
    max-width: 200px;
    overflow: hidden;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
}

.product-swiper_nav {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    gap: 32px;
}

.custom-swiper-pagination .swiper-pagination-bullet {
    width: auto;
    height: auto;
    display: inline;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    opacity: 1;
    color: #21211b;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
    color: #118de8;
}

/* product */
.product-card {
    padding: 40px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 318px;
    text-align: center;
    background-color: #ffffff;
}

.product-card__img {
    width: 219px;
    height: 180px;
    object-fit: contain;
}

.product-card__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    flex-grow: 2;
}

.product-card__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-card__bottom .btn {
    width: 100%;
}

.product-card__title {
    font-size: 16px;
    line-height: 26px;
    text-decoration: underline;
    color: #118de8;
    transition: color 0.3s ease;
    flex-grow: 2;
}

.product-card__title:hover {
    color: #02548f;
}

.product-card__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

/* price */
.price-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price-container__top {
    padding: 12px 32px;
    background: #118de8;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    border-radius: 12px;
}

.price_table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price_table-row_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price_table-row_item-title {
    display: none;
    color: #8d8d8d;
}

.price_table-row .price_table-row_item:nth-child(1) {
    max-width: 220px;
    width: 100%;
}

.price_table-row .price_table-row_item:nth-child(2) {
    max-width: 432px;
    width: 100%;
}

.price_table-row .price_table-row_item:nth-child(3) {
    max-width: 168px;
    width: 100%;
}

.price_table-row .price_table-row_item:nth-child(4) {
    max-width: 148px;
    width: 100%;
}

.price_table-row .price_table-row_item:nth-child(5) {
    max-width: 239px;
    width: 100%;
    text-align: end;
}

.price_table--small .price_table-row .price_table-row_item:nth-child(1) {
    max-width: 170px;
    width: 100%;
}

.price_table--small .price_table-row .price_table-row_item:nth-child(2) {
    max-width: 420px;
    width: 100%;
}

.price_table--small .price_table-row .price_table-row_item:nth-child(3) {
    max-width: 130px;
    width: 100%;
}

.price_table--small .price_table-row .price_table-row_item:nth-child(4) {
    max-width: 167px;
    width: 100%;
}



.price-container__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price-item {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 32px;
    border-radius: 12px;
    border: 1px solid #d1dfe9;
}

.price-item__brend {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #118de8;
}

.price-item__brend img {
    width: 46px;
    height: 46px;
    object-fit: contain;
}

.price-item__model-list {
    display: inline-flex;
    gap: 6px;
    list-style: none;
    color: #118de8;
    padding: 0;
    flex-wrap: wrap;
}

.price-item__model-list li::after {
    content: ",";
}

.price-item__model-list li:last-child:after {
    content: "";
}

/* section_examples */
.section_examples {
    overflow: hidden;
}

.examples-swiper__wrapper {
    position: relative;
}

.examples-swiper {
    overflow: hidden;
}

.examples-swiper_nav {
    display: none;
}

.examples-swiper_nav .custom-swiper-button-prev.swiper-button-disabled,
.examples-swiper_nav .custom-swiper-button-next.swiper-button-disabled {
    opacity: 0.5;
}

.examples-swiper_nav .custom-swiper-button-prev,
.examples-swiper_nav .custom-swiper-button-next {
    width: 29px;
    height: 29px;
    border: none;
    top: 182px;
}

.examples-swiper_nav .custom-swiper-button-prev {
    left: 8px;
}

.examples-swiper_nav .custom-swiper-button-next {
    right: 8px;
}

.examples-swiper_nav .custom-swiper-button-next::before,
.examples-swiper_nav .custom-swiper-button-prev::before {
    width: 17px;
    height: 17px;
    background: url("../img/icons/chevron-right-black.svg") 50% / contain no-repeat;
}

.examples-swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 25px;
}

.examples-swiper .swiper-wrapper .swiper-slide {
    width: auto;
}

.examples-card {
    width: 100%;
    max-width: 407px;
}

.examples-card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
}

.examples-card__img {
    width: 100%;
    aspect-ratio: 1 / 0.555;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 24px;
}

.examples-card__bottom {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.examples-card__product-img {
    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 154px;
    height: 154px;
    border: 1px solid #d1dfe9;
}

.examples-card__product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.examples-card__product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.examples-card__product-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.examples-card__product-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.examples-card__product-list li {
    padding-left: 24px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.examples-card__product-list li::before {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border: 1px solid #000000;
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
}

.examples-card__product-info .btn {
    font-size: 16px;
    padding: 6px 16px;
}

.examples__line {
    grid-column: 1 / 4;
    height: 1px;
    background: #d1dfe9;
}

/* section_stage */
.blue_bg {
    position: relative;
    padding: 40px;
    border-radius: 16px;
    z-index: 1;
    overflow: hidden;
}

.blue_bg h2 {
    text-align: start;
}

.blue_bg::after {
    content: "";
    z-index: -2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #118de8;
}

.blue_bg::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../img/blu_bg.png") 50% / cover no-repeat;
}

.blue_bg h2 {
    color: #ffffff;
}

.stage-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.stage-item {
    padding: 32px;
    border-radius: 16px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.stage-item>* {
    position: relative;
    z-index: 1;
}

.stage-item__count {
    font-weight: 600;
    font-size: 200px;
    line-height: 200px;
    color: #eef8ff;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: -21px;
}

.stage-item__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stage-item__icon {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background: #eef8ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-item__icon img {
    width: 32px;
    height: 32px;
}

.stage-item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.stage-item__text {
    font-size: 16px;
    line-height: 26px;
}

/* banner */
.banner_bg {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 50px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 344px;
}

.banner_bg::before {
    background: linear-gradient(90deg, #fce000 0%, #eef8ff 100%);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
}

.banner_bg::after {
    background: url("../img/banner_bg.png") 50% / cover no-repeat;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.banner_bottom {
    display: flex;
    align-items: center;
    gap: 12px 32px;
    flex-wrap: wrap;
}

.tel_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tel_wrapper span {
    font-size: 12px;
    line-height: 16px;
}

/* faq */
.faq-item {
    padding: 32px 0;
    gap: 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d1dfe9;
    cursor: pointer;
}

.faq-item.is-open {
    gap: 32px;
}

.faq-item:last-child {
    border-bottom: 1px solid #d1dfe9;
    display: flex;
}

.faq-item__top {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
    padding-right: 46px;
}

.faq-item.is-open .faq-item__top::after {
    transform: rotate(180deg);
}

.faq-item__top::after {
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    width: 22px;
    height: 22px;
    transition: transform 0.3s ease;
    background: url("../img/icons/chevron-down_black.svg") 50% / contain no-repeat;
}

.faq-item__hidden {
    font-size: 16px;
    line-height: 26px;
    padding-right: 40px;
    color: #656262;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-item.is-open .faq-item__hidden {
    max-height: 500px;
}

/* footer */
.footer {
    margin-top: 82px;
    padding: 52px 0;
    border-top: 1px solid #d1dfe9;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.footer__logo {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 33px;
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #21211b;
}

.footer__top-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__top-links_tel {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer .services_items {
    gap: 32px;
}

.footer .services_item_list {
    padding: 0;
    border: 0;
}

.footer .link-social-wrapper span {
    display: none;
}

.footer .connection-block__bottom-title {
    display: none;
}

/* .crew */
.crew-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 52px;
}

.crew-item {
    display: grid;
    grid-template-columns: 404px auto;
    gap: 24px;
    padding-bottom: 52px;
    border-bottom: 1px solid #D1DFE9;
}
.crew-item--single {
    gap: 32px;
}
.crew-item--single .crew-item__img_wrapper{
    aspect-ratio: 1 / 1;
}   
.crew-item:last-child {
    border: 0;
    padding: 0;
}
.crew-item__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.crew-item__img_wrapper {
    max-width: 404px;
    width: 100%;
    aspect-ratio: 1 / 0.81;
    position: relative;
    border-radius: 8px;
    background: #E9E9E9;
    overflow: hidden;
}

.crew-item__img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    padding: 6px 12px 6px 8px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.rating_count {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
}

.rating_count::before {
    width: 30px;
    height: 30px;
    display: block;
    content: '';
    background: url('../img/icons/star-01.svg') 50% / contain no-repeat;
}

.rating_score {
    font-size: 16px;
    line-height: 24px;
    color: #118DE8;
}

.crew-item__stat-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.crew-item__stat {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
}
.crew-item--single .crew-item__stat-container {
    flex-direction: row;
    gap: 10px 32px;
    flex-wrap: wrap;
}
.crew-item__stat::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.crew-item__stat.icon_calendar::before {
    background: url('../img/icons/calendar_blue.svg') 50% / contain no-repeat;
}

.crew-item__stat.icon_certif::before {
    background: url('../img/icons/certificate-01.svg') 50% / contain no-repeat;
}

.crew-item__stat.icon_check::before {
    background: url('../img/icons/file-check-02.svg') 50% / contain no-repeat;
}

.crew-item__bottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.crew-item__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.crew-item__info-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.crew-item__info-status {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    line-height: 24px;
}

.crew-item__info-status-city {
    font-weight: 500;
}

.crew-item__text {
    color: #515146;
}

.crew-item__text a {
    color: #118DE8;
}

.crew-item__swiper_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.crew-item__bottom {
    overflow: hidden;
}

.crew-item__swiper .swiper-slide {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.crew-item__swiper {
    position: relative;
    margin-right: 18px;
}

.crew-button-prev,
.crew-button-next {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(-1, 1);
    background: url('../img/icons/chevron-right-black.svg') 50% / contain no-repeat;
    z-index: 2;
    cursor: pointer;
}

.crew-button-prev.swiper-button-disabled,
.crew-button-next.swiper-button-disabled {
    display: none;
}

.crew-button-next {
    left: auto;
    right: -20px;
    transform: translateY(-50%) scale(1, 1);
}

.crew-item__service-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 18px;
}

.crew-item__service-items {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.crew-item__service-items--more {
    gap: 12px;
}
.crew-item__service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #636360;
}

.crew-item__service-price {
    color: #21211B;
    font-weight: 600;
}

.crew-item__btn {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 12px;
    align-items: center;
}

.crew-item__link-container {
    display: flex;
    gap: 8px;
}

.link-all-services {
    color: #118DE8;
    display: flex;
    align-items: center;
    gap: 8px;
}

.link-all-services::after {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    content: '';
    display: block;
    background: url('../img/icons/chevron-down_bluse.svg') 50% / contain no-repeat;
}

.crew-item-btn-photo {
    display: none;
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 8px;
    height: 36px;

    background: #00000099;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 2px solid #00000099;
    transition: border .3s ease;
}

.crew-item-btn-photo:hover {
    border: 2px solid #ffffff;
}

.crew-item-btn-photo::before {
    width: 20px;
    height: 20px;
    content: '';
    display: block;
    background: url('../img/icons/Photo_plus.svg') 50% / contain no-repeat;
}
.page-counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
   
}
.page-btn-prev,
.page-btn-next {
    cursor: pointer;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: url('../img/icons/chevron-right.svg') 50% / contain no-repeat;
}
.page-btn-prev {
    transform: scale(-1 , 1);
}
.page-count {
     font-weight: 500;
     line-height: 32px;
     font-size: 16px;
}
.page-count:hover {
    color: #009eeb;
}
/* section_work */
.section_work {
    overflow: hidden;
}
.section_work .container {
    position: relative;
}
.work-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
     max-width: 300px;

}
.section_work  .custom-swiper-button-prev {
    left: 0;
}
.section_work  .custom-swiper-button-next {
    right: 0;
}
.work-swiper {
    position: relative;
}
.work-item__img {
   
    width: 100%;
    aspect-ratio:  1 / 1;
}
.custom-work-prev,
.custom-work-next {
    width: 24px;
    height: 24px;
    background: url('../img/icons/chevron-right-black.svg') 50% / contain no-repeat;
}
.custom-work-prev.swiper-button-disabled,
.custom-work-next.swiper-button-disabled {
    opacity: .5;
}
.custom-work-prev {
    transform: scale(-1, 1);
}

.work-swiper_nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
/* reviews */
.reviews-filter {
    max-width: 300px;
    margin-top: 8px;
}
.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.reviews-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.reviews-item__img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
}
.reviews-item__top {
    display: flex;
    align-items: center;
    gap: 16px;
}
.reviews-item__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.reviews-item__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.reviews-item__raiting {
    display: flex;
    align-items: center;
    gap: 8px;
}
.reviews-item__raiting-count {
    display: flex;
    align-items: center;

}
.star {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: url('../img/icons/star-01.svg') 50% / contain no-repeat;
}
.star.star_no-full {
    
    background: url('../img/icons/star-02.svg') 50% / contain no-repeat;
    opacity: .6;
}
.reviews-item__date {
    color: #636360;
    font-size: 14px;
    line-height: 20px;
}
.reviews-container_bottom,
.reviews-item__text {
    padding-left: 76px;
}
@media (max-width: 1300px) {
    .header__content-right .header__tel {
        display: none;
    }
}

@media (max-width: 1300px) {
    .examples__line {
        display: none;
    }

    .examples-swiper .swiper-wrapper {
        display: flex;
        gap: 0px;
    }

    .examples-swiper_nav {
        display: block;
    }

    .stage-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media (max-width: 1100px) {
    h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .header__content-right {
        display: none;
    }

    .header_btn__call {
        display: flex;
    }

    .grid_sticky {
        grid-template-columns: 1fr;
    }

    .grid_sticky .connection-block__wrapper {
        width: 100%;
        max-width: none;
    }

    .about__items {
        grid-template-columns: 1fr 1fr;
    }

    .services_items {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .services_item_list {
        padding: 0;
        border: none;
        gap: 12px;
    }

    .hero__content_left {
        gap: 24px;
    }

    .price-container__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .price-container__top {
        display: none;
    }

    .price_table-row .price_table-row_item:nth-child(n) {
        max-width: none !important;
        width: auto !important;
    }

    .price_table-row .price_table-row_item:nth-child(2),
    .price_table-row .price_table-row_item:nth-child(1) {
        width: 100% !important;
    }

    .price_table-row .price_table-row_item:nth-child(3) {
        padding-right: 24px;
        border-right: 1px solid #d1dfe9;
    }

    .price-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 20px;
        gap: 24px;
    }

    .price-item__brend {
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #d1dfe9;
    }

    .price_table-row_item-title {
        display: block;
    }

    .price-item__price,
    .price-item__time {
        font-weight: 500;
    }

    .footer__top {
        flex-direction: column;
    }

    .footer .services_items {
        gap: 12px;
        text-align: center;
    }

    .crew-item__swiper {
        display: none;
    }

    .crew-item {
        grid-template-columns: 335px auto;
    }

    .crew-item-btn-photo {
        display: flex;
    }

    .rating {
        gap: 5px;
    }

    .rating_count {
        font-size: 22px;
        line-height: 26px;
        gap: 5px;

    }

    .rating_count::before {
        width: 22px;
        height: 22px;
    }

}
@media (max-width: 960px) {
    .crew-item__btn {
        grid-template-columns: auto auto;
        gap: 10px 16px;
        width: 100%;
        max-width: 335px;
    }
    .crew-item__btn .btn_icon_phone span {
        display: none;
    }
    .crew-item__btn .btn_icon_phone {
        padding: 15px 16px;
        grid-column: 2;
    }
    .crew-item__btn .btn-thrid{
        grid-row: 1;
        grid-column: 1;
        width: 100%;
    }
    .crew-item__link-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
    }
    .crew-item__link-container .btn_link {
        width: 100%;
        height: 28px;
        gap: 8px;

    }
    .crew-item__link-container .btn_link::before {
        width: 20px;
        height: 20px;
    }
    .crew-item__link-container .btn_link span{
        display: block;
    }
}
@media (max-width: 860px) {
    .main {
        gap: 52px;
    }

    h1 {
        font-weight: 800;
        font-size: 28px;
        line-height: 36px;
    }

    h2 {
        text-align: center;
    }

    .mobile-menu {
        display: flex;
    }

    .flex-row {
        gap: 32px;
        flex-direction: column;
    }

    .header__content {
        padding: 19px 0 16px;
    }

    .header__top,
    .btn_services,
    .header__content-left__split {
        display: none;
    }

    .logo-wrapper {
        max-width: 224px;
        width: 100%;
        height: 37px;
    }

    .header_btn__menu {
        display: flex;
    }

    .header_btn__call {
        width: 24px;
        height: 24px;
    }

    .section_hero {
        padding-top: 72px;
        gap: 256px;
    }

    .hero__content {
        flex-direction: column;
        align-items: center;
    }

    .block__form.hero-form {
        margin: 0 auto;
    }

    .hero__info_top {
        text-align: center;
    }

    .btn_group--hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        max-width: 409px;
        width: 100%;
        margin: 0 auto;
    }

    .btn_group--hero .btn_primary {
        grid-column: 1 / 3;
        width: 100%;
    }

    .btn_group--hero .btn_link {
        width: 100%;
        height: 28px;
    }

    .btn_group--hero .btn_tg--white {
        background-color: #009eeb;
    }

    .btn_group--hero .btn_tg--white::before {
        background: url("../img/icons/Telegram.svg") 50% / contain no-repeat;
    }

    .btn_group--hero .btn_link::before {
        width: 20px;
        height: 20px;
    }

    .btn_group--hero .btn_link span {
        display: flex;
    }

    .hero__info_top {
        gap: 12px;
    }

    .hero__content_left {
        max-width: none;
    }

    .hero__content {
        gap: 32px;
    }

    .section_hero__top {
        padding-bottom: 0;
        padding-top: 52px;
    }

    .services_items {
        grid-template-columns: 1fr;
        gap: 12px;
        text-align: center;
    }

    .services_item_list {
        padding: 0;
    }

    .block__form.hero-form {
        margin-bottom: -224px;
        max-width: none;
        outline: none;
        border: 1px solid #d1dfe9;
        padding: 24px;
    }

    .section_hero__bg-img::after {
        background: linear-gradient(180deg,
                rgba(10, 14, 34, 0) 0%,
                #0a0e22 100%),
            linear-gradient(180deg, rgba(10, 14, 34, 0) 0%, #0a0e22 100%),
            linear-gradient(180deg, rgba(10, 14, 34, 0) 0%, #0a0e22 100%);
    }

    .examples-swiper .swiper-wrapper {
        display: flex;
        gap: 0;
    }

    .stage-item {
        padding: 20px;
    }

    .stage-container {
        gap: 20px;
    }

    .blue_bg {
        padding: 20px;
    }

    .faq-item {
        padding: 20px 0;
    }

    .footer {
        padding-top: 25px;
        margin-top: 52px;
    }

    .footer-container {
        gap: 32px;
    }

    .footer__top-links {
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .footer__top-links_tel {
        flex-direction: column-reverse;
        gap: 24px;
        width: 100%;
    }

    .footer__top-links_tel .btn {
        width: 100%;
    }

    .footer .link-social-wrapper span {
        display: block;
    }

    .footer .btn_link.btn_link--size-m {
        width: 40px;
        height: 40px;
    }

    .footer .btn_tg.btn_link--size-m::before {
        width: 23px;
        height: 19px;
    }

    .footer .btn_whatsapp.btn_link--size-m::before {
        width: 21px;
        height: 21px;
    }

    .footer .connection-block__bottom-title {
        display: flex;
        width: 100%;
    }
    .crew-item {
        grid-template-columns: 1fr;
        padding-bottom: 32px;
    }
    .crew-item__img_wrapper {
        max-width: none;
    }
    .crew-item__bottom {
        display: grid;
        grid-template-columns: 1fr;
    }
    .crew-item__bottom {
        gap: 16px;
    }
    .crew-item__btn {
        grid-row: 3;
    }
    .crew-item__info-status,
    .crew-item__service {
        gap: 6px;
        flex-wrap: wrap;
    }
    .crew-item__service-container {
        padding: 0;
    }
    .crew-item__btn {
        max-width: none;
        grid-template-columns: 1fr auto;
    }
    .crew-item__text,
    .crew-item__info-status {
        font-size: 14px;
        line-height: 20px;
    }
    .crew-container {
        gap: 32px;
    }
}

@media (max-width: 650px) {
    .selection__form-inputs {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .selection__form-inputs label:last-child {
        grid-column: auto;
    }
    .section_text {
        text-align: center;
    }
    .selection_wrapper {
        padding: 20px;
        gap: 24px;
    }

    .brand-row {
        gap: 32px;
    }

    .selection__bottom {
        flex-direction: column-reverse;
        width: 100%;
    }

    .selection__bottom .btn {
        width: 100%;
    }

    .brand-item__logo {
        width: 50px;
        height: 50px;
    }

    .brand-item__title {
        font-size: 14px;
    }

    .custom-swiper-pagination {
        display: flex;
    }

    .brand-swiper_nav {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
    }

    .custom-swiper-button-prev,
    .custom-swiper-button-next {
        position: relative;
        width: 24px;
        height: 24px;
        border: 0;
        position: static;
    }

    .product-swiper_nav .custom-swiper-button-prev,
    .product-swiper_nav .custom-swiper-button-next {
        border: 0;
    }

    .custom-swiper-button-prev::before,
    .custom-swiper-button-next::before {
        width: 24px;
        height: 24px;
    }

    .examples-swiper_nav .custom-swiper-button-next,
    .examples-swiper_nav .custom-swiper-button-prev {
        width: 29px;
        height: 29px;
        border: none;
        position: absolute;
    }

    .examples-card {
        max-width: none;
    }

    .product-card {
        padding: 20px;
    }

    .product-card__img {
        width: 182px;
        height: 150px;
    }

    .product-card__info {
        gap: 24px;
    }

    .price-container__content {
        grid-template-columns: 1fr;
    }

    .examples-card__img {
        margin-bottom: 16px;
    }

    .examples-card__product-img {
        width: 105px;
        height: 105px;
    }

    .examples-card__product-info {
        gap: 16px;
        flex-grow: 2;
    }

    .examples-card__product-info .btn {
        width: 100%;
    }

    .examples-card__img {
        width: 100%;
        aspect-ratio: 1 / 0.675;
    }

    .examples-card__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .stage-container {
        grid-template-columns: 1fr;
    }

    .blue_bg::before {
        display: none;
    }

    .banner_bg {
        padding: 24px;
        gap: 32px;
        min-height: auto;
        text-align: center;
    }

    .banner_bottom {
        flex-direction: column;
        gap: 16px;
    }

    .banner_bottom .btn {
        width: 100%;
    }

    .banner_bg::after {
        display: none;
    }

    .banner_bg::before {
        background: linear-gradient(349.02deg, #fce000 -80.05%, #eef8ff 74.55%);
    }

}

@media (max-width: 550px) {
    .about__items {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .about__item {
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .connection-block__wrapper {
        padding: 40px 20px;
    }

    .connection-block__bottom--row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .connection-block__tel {
        width: 100%;
    }
    /* .crew-item__service {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    } */
    .crew-item__service-price {
        margin-left: auto;
    }
    .reviews-container_bottom, .reviews-item__text {
    padding-left: 0;
}
 .reviews-container_bottom .btn {
    width: 100%;
 }
}

@media (max-width: 350px) {
    .price_table-row .price_table-row_item:nth-child(3) {
        padding-right: 0;
        border-right: 0;
    }

    .price-item {
        flex-direction: column;
        align-items: start;
    }
    .btn-thrid {
        padding: 0;
    }
}